.nav-section{
    background-color: #212529;
}

.nav-bar{
    width: 98%;
}

/* css media query for responsiveness */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .nav-bar{
        width: 90%;
    }
}
